*{
    margin: 0;
    padding: 0;
}

.sub-header {
    height: 50vh;
    text-align: center;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./images/background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    color: white;
    position: relative;
  
}

.sub-header img{
    margin-left: 100px;
    height: 45px;
    width: 150px;
    margin-top: 30px;
}

.menu{
    margin-right: 85px;
    margin-top: 20px;
}

.menu ul li{
    margin-right: 30px;
}

.menu ul li a{
    color: white;
    transition: 1s;
}

.menu ul li a:hover{
    color: red;
}

.sub-header .header-info h1{
    font-size: 2.5rem;
    position: absolute;
    top: 47%;
    left: 22%;
    
 
}

.post-categories{
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    text-align: center;

}


.about-us{
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    text-align: center;

}

.about-us p{
    font-size: 14px;
}

.social-icon i{
    color: cornflowerblue;
    margin: 2px;
}

.creator{
    color: cornflowerblue;
}

.post-categories-text{
    text-align: justify;
    margin-top: 10px;
}

.post-categories-text p{
    margin-left: 10px;
    margin-top: 25px;
    line-height: 15px;
}

.post-heading{
    background-color: red;
    color: white;
    padding: 8px;
    text-align: center;
}

.online-program{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    text-align: justify;

}

.contact-form{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    text-align: justify;
   
}
.form{
    border: 1px solid rgb(226, 221, 221);
    padding: 10px;
}

.form-heading{
    margin-left: 10px;
}
.contact-form input{
    border: none;
    background: hsl(0, 0%, 94%);
    margin: 10px;
    color: black;
    height: 40px;
    width: 90%;
    padding: 10px;
}

textarea{
    border: none;
    background: hsl(0, 0%, 94%);
    margin: 10px;
    color: black;
    height: 140px;
    width: 90%;
    padding: 10px;
}