*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.sub-header {
    height: 50vh;
    text-align: center;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./images/background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    color: white;
    position: relative;
  
}

.sub-header img{
    margin-left: 100px;
    height: 45px;
    width: 150px;
    margin-top: 30px;
}

.menu{
    margin-right: 85px;
    margin-top: 20px;
}

.menu ul li{
    margin-right: 30px;
}

.menu ul li a{
    color: white;
    transition: 1s;
}

.menu ul li a:hover{
    color: red;
}

.header-info{
    margin-top: 30px;
}

.sub-header .header-info h1{
    font-size: 2.5rem;
    position: absolute;
    top: 47%;
    left: 42%;
}

.header-info p {
    margin-top: 40px;
    font-size: 14px;
    margin-right: 55px;
    margin-left: 55px;
}

button{
    border: none;
    font-size:14px;
    margin-top: 35px;
    background: transparent;
    border: 1px solid white;
    color: white;
    height: 43px;
    width: 200px;
    text-align: center;

}

.header-info button:hover{
    background-color: cornflowerblue;
     transition:1s;
     border: none;
    
}

.courses{
    margin-top: 80px;
    margin-left: 135px;
    margin-right: 135px;
    text-align: center;
    margin-bottom: 100px;
}

.courses p{
    font-size: 16px;
    margin-top: 25px;
}

.card{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.card:hover{
    box-shadow: 2px 2px 2px 2px #888888;
}

.campus{
    margin-top: 80px;
    margin-left: 120px;
    margin-right: 120px;
    text-align: center;
    margin-bottom: 100px;
}

.campus p{
    font-size: 14px;
    margin-top: 25px;
}

.campus img{
    border-radius: 10px;
   
}

.facilities{
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;

}

.facilities img{
    border-radius: 10px;
}

.facilities p{
    font-size: 14px;
    margin-top: 25px;
    text-align: justify;
}

.students-feedback{
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.students-feedback img{
    border-radius: 50%;
    margin-left: 7px;
}

.feedback-para{
    margin-left: 45px;
    text-align: justify;
}
.feedback{
    background: #fff3f3;
    margin: 5px;
    padding: 25px;
    border-radius: 10px;

}

.feedback blockquote{
    font-size: 14px;
   
}

.contact-us {
    margin: 100px auto;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./images/banner2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    opacity: 100%;
    text-align: center;
    padding: 100px 0;
    min-height: 500px;
}

.contact-btn{
    border: none;
    font-size:14px;
    margin-top: 35px;
    background: transparent;
    border: 1px solid white;
    color: white;
    height: 43px;
    width: 150px;
    text-align: center;

}

.contact-btn:hover{
    background-color: cornflowerblue;
     transition:1s;
     border: none;
    
}

.about-us{
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    text-align: center;

}

.about-us p{
    font-size: 14px;
}

.social-icon i{
    color: cornflowerblue;
    margin: 2px;
}

.creator{
    color: cornflowerblue;
}