*{
    margin: 0;
    padding: 0;
}

.sub-header {
    height: 50vh;
    text-align: center;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./images/background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    color: white;
    position: relative;
  
}

.sub-header img{
    margin-left: 100px;
    height: 45px;
    width: 150px;
    margin-top: 30px;
}

.menu{
    margin-right: 85px;
    margin-top: 20px;
}

.menu ul li{
    margin-right: 30px;
}

.menu ul li a{
    color: white;
    transition: 1s;
}

.menu ul li a:hover{
    color: red;
}

.sub-header .header-info h1{
    font-size: 2.5rem;
    position: absolute;
    top: 47%;
    left: 44%;
    
 
}

.explore-btn{
    border: none;
    font-size:14px;
    /* margin-top: 35px; */
    background: transparent;
    border: 1px solid red;
    color: cornflowerblue;
    height: 43px;
    width: 150px;
    text-align: center;

}

.explore-btn:hover{
    background-color: cornflowerblue;
     transition:1s;
     border: none;
     color: white;
    
}


.teaching-platform{
    margin-top: 80px;
    margin-left: 135px;
    margin-right: 135px;
    text-align: justify;
    margin-bottom: 100px;

}

.teaching-platform h1{
    text-align: justify;
}

.teaching-platform img{
    margin-left: 20px;
}

.about-us{
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    text-align: center;

}

.about-us p{
    font-size: 14px;
}

.social-icon i{
    color: cornflowerblue;
    margin: 2px;
}

.creator{
    color: cornflowerblue;
}